{% import 'macro/dev.twig' as dev %}
{% import 'ui/media.twig' as media %}
{% import 'ui/buttons.twig' as btn %}
{% import 'ui/links.twig' as link %}
{% import 'ui/form.twig' as form %}
{% import 'ui/modals.twig' as modal %}

{% block variables %}

{% endblock variables %}

{% set layout_components_path = 'layouts/landing/components/' %}
{% set layout_modules_path = 'layouts/landing/modules/' %}

<!DOCTYPE html>
<html lang="en">
{% include layout_modules_path ~ 'head.twig' %}

<body class="{{ page_class }}">
<div class="wrapper">
    {% if is_login %}
        {% include layout_modules_path ~ 'header-logined.twig' %}
    {% else %}
        {% include layout_modules_path ~ 'header.twig' %}
    {% endif %}

    <div class="content {{ content_class }}">
        {% block content %}

        {% endblock content %}
    </div>

    {# {% include layout_components_path ~ 'modals/modal.twig' %} #}
    {% include layout_modules_path ~ 'footer.twig' %}

    {% block modals %}

    {% endblock modals %}

    {% block sidebars %}

    {% endblock sidebars %}
</div>
<script src="./js/vendor.js"></script>
<script src="./js/main.js"></script>
{% if prod != true %}
    {{ dev.menu() }}
{% endif %}
{% block scripts %}

{% endblock scripts %}
</body>
</html>
