.tel-inputs-wrap {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  @media(max-width:576px){
    flex-wrap: wrap;
    gap: 20px; 
  }

  .tel-input-wrap {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    gap: 6px;
    @media(max-width:576px){
      flex-basis: 100%;

    }

    label {
      font-size: 14px;
      line-height: 20px;
      color: var(--primaryBlue);
    }

    .iti {
      display: flex;
      height: 44px;
      max-width: 214px;
      border: 1px solid var(--lightGray);
      border-radius: 8px;

      &:has(.iti__tel-input:focus),
      &.active {
        border-color: var(--baseTextGray);
        .iti__flag-container {
          border-right: none;
        }
        .iti__selected-flag {
          border-right: 1px solid var(--baseTextGray);
        }
      }
    }

    .iti__flag-container {
      border-right: 1px solid var(--lightGray);

      padding: 0;

      position: relative;
      .iti__selected-flag {
        background-color: var(--hoverBackground);
        border-radius: 8px 0 0 8px;
      }
    }

    .iti__tel-input {
      border: none;
      border-radius: 0 8px 8px 0;
      border: 1px solid transparent;
      padding: 0 10px !important;
      font-size: 14px;
      line-height: 18px;
      color: (var--baseTextGray);
      max-width: 164px !important;
      width: 100% !important;
    }

    .iti__tel-input:focus {
      outline: none;
      // border-color: var(--baseTextGray);
    }

    // .iti__tel-input:focus + .iti__flag-container {
    //   border-radius: 8px;
    //   border: 1px solid var(--baseTextGray);
    //   background-color: green;
    // }

    .iti__dropdown-content {
      width: 280px !important;
      // width: 100%;
    }

    .iti__country-list {
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 35px;
        background-color: var(--scrollThumbGray);
      }
    }

    .iti__selected-dial-code {
      font-size: 14px;
      line-height: 18px;
      color: var(--baseTextGray);
    }

    .iti__arrow {
      border: none;
      width: 20px;
      height: 17px;

      margin-left: 0px;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: transform .3s ease;
    }

    .iti__selected-flag[aria-expanded="true"] {
      .iti__arrow {
        transform: rotate(180deg);
      }
    }
  }
}
