.password-validation {
  &_list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-top: 20px;
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;
    line-height: 20px;

    color: var(--primaryBlue);

    &-icon {
      width: 12.5px;
      height: 12.5px;
      min-width: 12.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--secondaryGray);
      border-radius: 50%;
      position: relative;

      .icon {
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.5px;
        height: 7.5px;
        object-fit: contain;
        fill: var(--secondaryGray);
        stroke-width: 0.3px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--secondaryGray);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);

        &.icon-pass-valid {
          opacity: 0;
          visibility: hidden;
          fill: transparent;
          stroke: var(--white);
          stroke-width: 1.3px;
        }
      }
    }

    &.valid {
      .password-validation_item-icon{
        background: var(--baseLightBlue);
        border-color: var(--baseLightBlue);
      }
      
      .icon {
          opacity: 0;
          visibility: hidden;
  
        &.icon-pass-valid {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
