{% extends 'layouts/main/layout-main.twig' %}

{# {% set tab_triggers = json('tab-triggers') %}
{% set table = json('table') %} #}

{% block variables %}
    {% set title = 'Users page' %}
{% endblock variables %}
{% set modals_path = 'components/modals/' %}
{% set modules = 'modules/users/' %}
{% set sidebars_path = 'modules/users/sidebars/' %}

{% block content %}
    <section class="transactions">
        {% include modules ~ 'users-heading.twig' %}
        {% include modules ~ 'users-body.twig' %}
    </section>
{% endblock content %}

{% block modals %}
    {% include modals_path ~ 'report-type.twig' with {
        id:'report-type',
        class: "report",
        title: 'Select Report Type',
        text: 'Please specify the product you wish to order.'
    }%}
    {% include modals_path ~ 'modal-delete.twig' with {
        id:'delete-report',
        title: 'Confirm Deletion of Report',
        text: 'Please verify that you wish to permanently delete report Henry Jones vs. Ivy Davis_V1 from your account.'
    }%}
    {% include modals_path ~ 'modal-delete.twig' with {
        id:'delete-job-title',
        title: 'Delete Job Title',
        text: 'Please verify that you wish to permanently delete Managing Partner from your list.'
    }%}
{% endblock modals %}

{% block sidebars %}
    {% include sidebars_path ~ 'edit-job-titles.twig' %}
    {% include sidebars_path ~ 'personal-information.twig' %}
    {% include sidebars_path ~ 'invite-users.twig' %}
    {% include sidebars_path ~ 'edit-user-offcanvas.twig' %}
{% endblock sidebars %}

{% block scripts %}
{% endblock scripts %}
