<div class="cases-heading">
    <div class="d-flex align-items-center justify-content-between pb-2">
        <h1 class="mb-0">Cases</h1>
        <p class="fw-medium fs-16">8 Results</p>
    </div>
    <div class="d-flex align-items-center justify-content-between my-3">
        <button class="btn filter-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            {{ media.icon('filter-icon') }}Filters
        </button>

        {% include 'modules/cases/cases-searches.twig' %}

        <button class="btn cases-heading__svg-download me-3">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.16602 14.7917L10.9993 18.625M10.9993 18.625L14.8327 14.7917M10.9993 18.625V10M18.666 14.5452C19.8366 13.5785 20.5827 12.1159 20.5827 10.4792C20.5827 7.56817 18.2228 5.20833 15.3118 5.20833C15.1024 5.20833 14.9065 5.09908 14.8002 4.91867C13.5505 2.79797 11.2432 1.375 8.60352 1.375C4.63397 1.375 1.41602 4.59295 1.41602 8.5625C1.41602 10.5425 2.21665 12.3355 3.51184 13.6355" stroke="#148BDF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        {{btn.primary({
            inner: "new Report",
            icon: "plus",
            data_id_modal: "report-type"
        })}}
    </div>
    <div class="collapse" id="collapseFilter">
        <div class="cases-filters__tab js__cases-filters-tab">

            <div class="d-flex align-items-center justify-content-between cases-filters__header">
                <h4>Choose filters below to customize table view</h4>
                <div>
                    <button class="btn-link me-3 js__cases-filters__reset">Reset All</button>
                    <button class="btn-close" type="button" data-bs-target="#collapseFilter"
                        data-bs-toggle="collapse"></button>
                </div>
            </div>

            {% include 'modules/cases/cases-filters.twig' %}

        </div>
    </div>
</div>

