<section class="global-section advantages-section">
	<div class="container">
		<div class="advantages-section-wrap">
			<h2 class="advantages-section-title hidden-title">Advantages</h2>
			<div class="advantages-section-cards">
				<div class="advantages-section-card">
					<div class="tablet-title">What If Comprehensive
						<br>Litigation Preparation Took Just Hours?</div>
					<div class="tablet-subtitle">Med-Test.AI can also be used in ALL phases of litigation, as well as
						<br>before the lawsuit is filed. These use cases include:</div>
					<div class="advantages-section-card-content">
						<h4 class="advantages-section-card-content-title">What If Comprehensive Litigation Preparation Took Just Hours?</h4>
						<p class="advantages-section-card-content-subtitle">Med-Test.AI can also be used in ALL phases of litigation, as well as before the lawsuit is filed. These use cases include:</p>
						<ul class="advantages-section-card-content-list">
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/conversation.svg" alt="conversation icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">Deposition and Mediation Preparation</span>
							</li>
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/hammer.svg" alt="hammer icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">Jury and Bench Trial Preparation</span>
							</li>
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/weights.svg" alt="conversation icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">Non-Binding and Binding Arbitration</span>
							</li>
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/letter.svg" alt="conversation icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">And Demand Letters</span>
							</li>
						</ul>
					</div>
					<div class="advantages-section-card-content__img-wrap">
						{{media.img('./content/homepage/advantages-1', 'jpg', 'advantages-section-card-content', 557, 505)}}
					</div>
				</div>
				<div class="advantages-section-card">
					<div class="tablet-title">Start Using Med-Test.AITo Your Advantage</div>
					<div class="tablet-subtitle mb-12">For too long, law firms, insurance claims professionals and clinical experts have shouldered the weight of agonizing record and billing summarization. But with Med-Test.AI, the future you imagined is finally here.</div>
          <div class="tablet-subtitle-small">We put advanced automation in your hands to:</div>
					<div class="advantages-section-card-content">
						<h4 class="advantages-section-card-content-title">Start Using Med-Test. AI To Your Advantage</h4>
						<p class="advantages-section-card-content-subtitle">For too long, law firms, insurance claims professionals and clinical experts have shouldered the weight of agonizing record and billing summarization. But with Med-Test.AI, the future you imagined is finally here.</p>
						<p class="advantages-section-card-content-list-title">We put advanced automation in your hands to:</p>
						<ul class="advantages-section-card-content-list">
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/search-info.svg" alt="search icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">Accelerate insight extraction</span>
							</li>
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/increase-time.svg" alt="time icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">Expedite evaluation claims processing</span>
							</li>
							<li class="advantages-section-card-content-list-item">
								<span class="advantages-section-card-content-list-item__icon-wrap">
									<img src="./svg/weights.svg" alt="conversation icon">
								</span>
								<span class="advantages-section-card-content-list-item__text">And transform visibility</span>
							</li>
						</ul>
					</div>
					<div class="advantages-section-card-content__img-wrap">
						{{media.img('./content/homepage/advantages-2', 'jpg', 'advantages-section-card-content', 557, 442)}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
