<section class="global-section benefits-section">
	<div class="container">
		<div class="benefits-section-wrap">
			<h2 class="benefits-section-title hidden-title">Benefits</h2>
			<div class="benefits-section-cards">
				<div class="benefits-section-card">
					<img src="./svg/check-in-circle.svg" alt="check-icon" class="benefits-section-card__check-circle">
					<span class="benefits-section-card-text">greater accuracy</span>
				</div>
				<div class="benefits-section-card">
					<img src="./svg/check-in-circle.svg" alt="check-icon" class="benefits-section-card__check-circle">
					<span class="benefits-section-card-text">Expedite Claims Resolution</span>
				</div>
				<div class="benefits-section-card">
					<img src="./svg/check-in-circle.svg" alt="check-icon" class="benefits-section-card__check-circle">
					<span class="benefits-section-card-text">faster reviews
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
