<section class="global-section faq-section" id="faq-section">
	<div class="container">
		<div class="faq-section-wrap js-section-wrap">
			<h3 class="global-title faq-section-title">Frequently Asked Questions</h3>
			<p class="global-subtitle faq-section-subtitle">Common questions about Med-Test.AI are answered here.</p>
			<div class="faq-section-accordion js-faq-section-accordion">
				<button type="button" class="faq-section-accordion-item js-faq-section-accordion-item">
					<div class="faq-section-accordion-item-heading">
						<div class="text">What is the turnaround time for medical record and billing summaries?</div>
						{{media.icon('arrow')}}
					</div>
					<div class="faq-section-accordion-item-body">
						<div class="faq-section-accordion-item-body__content">
							Med-Test.AI is capable of processing medical summaries within the same day, often within just a few hours.   Nearly all summaries are completed within 24 hours.   Medical billing summaries require even less time, as they involve few documents to review and are less complex.
						</div>
					</div>
				</button>
				<button type="button" class="faq-section-accordion-item js-faq-section-accordion-item">
					<div class="faq-section-accordion-item-heading">
						<div class="text">What security measures does Med-Test.AI have in place for medical records and billing?</div>
						{{media.icon('arrow')}}
					</div>
					<div class="faq-section-accordion-item-body">
						<div class="faq-section-accordion-item-body__content">
							Med-Test.AI is SOC2 certified, demonstrating our commitment to top-tier security measures. Our stringent security measures ensure we are safeguarding your data at all times.
						</div>
					</div>
				</button>
				<button type="button" class="faq-section-accordion-item js-faq-section-accordion-item">
					<div class="faq-section-accordion-item-heading">
						<div class="text">What type of claims can Med-Test.AI platform summarize?</div>
						{{media.icon('arrow')}}
					</div>
					<div class="faq-section-accordion-item-body">
						<div class="faq-section-accordion-item-body__content">
							Med-Test.AI platform can process the following types of claims:  bodily injury; disability; medical malpractice; and workers compensation.   Please contact us if you have a separate type of claim and we will be happy to determine if we may be of assistance.
						</div>
					</div>
				</button>
				<button type="button" class="faq-section-accordion-item js-faq-section-accordion-item">
					<div class="faq-section-accordion-item-heading">
						<div class="text">Why should my company/firm choose Med-Test.AI for medical and billing summaries?</div>
						{{media.icon('arrow')}}
					</div>
					<div class="faq-section-accordion-item-body">
						<div class="faq-section-accordion-item-body__content">
							Med-Test.AI was established by a lawyer with experience in personal injury law, representing both insurance defense firms and plaintiffs.  Today, our team includes legal professionals, former claims adjusters, and AI engineers, all working together to customize summarizes to meet our clients' specific requirements.  Our team is well-versed in both the insurance and legal sectors, ensuring that our summaries are effectively utilized in claims assessments, demand letters, depositions, mediations, arbitrations, and court trials.  By leveraging our advanced AI platform, we aim to enhance consistency and productivity, saving our clients both time and money.
						</div>
					</div>
				</button>
			</div>
		</div>
	</div>
</section>
