<section class="global-section hero-section pt-header-height" id="home">
	<div class="container">
		<div class="hero-section-wrap">
			<div class="hero-section-content">
				<h2 class="hero-section-title main-title">Welcome to the Future of Medical Record & Billing Summarization</h2>
				<p class="hero-section-subtitle global-subtitle">Save time, money and accelerate claims resolution with Med-Test.AI's intelligent platform. Med-Test.AI provides automated record and billing summarization services for law firms, insurance claims professionals, and clinical experts, delivering concise, user-friendly summaries within hours to facilitate swift and effective claim evaluation.</p>
				<a href="#feedback-section" class="hero-section-button btn-primary btn js-feedback-trigger" data-target="js-feedback-target">Request Demo</a>
			</div>
			<div class="hero-section-graph">
				{{media.img('./content/homepage/hero-graph', 'png', 'hero-section-graph', 457, 571)}}
			</div>
		</div>
	</div>
</section>
