<section class="global-section preferences-section global-section-with-bg" id="preferences-section">
	<div class="container">
		<div class="preferences-section-wrap provides-section-wrap js-section-wrap">
			<h3 class="global-title preferences-section-title">Forget Old Workflows
				<br class="tablet">Med-Test.AI 
												Makes All The Difference</h3>
			<p class="global-subtitle preferences-section-subtitle">Med-Test.AI holds the key to simplifying even the most complex medical recordreview process. We deliver consistent, rapid insights at a fraction of current costs.</p>

			<p class="preferences-section-title_small provides-section-title_small">With Med-Test.AI at your fingertips you can:</p>

			<ul class="preferences-section-list global-section-list">
				<li class="preferences-section-list-item m-w-33 global-section-card-with-icon-item">
					<img class="preferences-section-list-item-icon global-section-card-with-icon-item__icon" src="./svg/user-verify.svg" alt="Increase Consistency" width="60" height="60">
					<span class="preferences-section-list-item-title global-section-card-with-icon-item__title">Increase Consistency</span>
					<span class="preferences-section-list-item-text global-section-card-with-icon-item__text">Med-Test.AI provides unbiased and objective summarizations. Every file is processed with the utmost precision, ensuring consistency across all case preparations.</span>
				</li>
				<li class="preferences-section-list-item m-w-33 global-section-card-with-icon-item">
					<img class="preferences-section-list-item-icon global-section-card-with-icon-item__icon" src="./svg/price-down.svg" alt="Cost Savings" width="60" height="60">
					<span class="preferences-section-list-item-title global-section-card-with-icon-item__title">40-60% Cost Savings</span>
					<span class="preferences-section-list-item-text global-section-card-with-icon-item__text">Reduces hours and expenses associated with manual reviews. By eliminating the need for costly outsourcing, Med-Test.AI offers a more economical alternative.</span>
				</li>
				<li class="preferences-section-list-item m-w-33 global-section-card-with-icon-item">
					<img class="preferences-section-list-item-icon global-section-card-with-icon-item__icon" src="./svg/increase-time.svg" alt="Increased Productivity" width="60" height="60">
					<span class="preferences-section-list-item-title global-section-card-with-icon-item__title">Increased Productivity</span>
					<span class="preferences-section-list-item-text global-section-card-with-icon-item__text">Accelerated task completion increases your team's capacity, allowing them to focus on critical aspects of case and claim management.</span>
				</li>
				<li class="preferences-section-list-item global-section-card-with-icon-item">
					<img class="preferences-section-list-item-icon global-section-card-with-icon-item__icon" src="./svg/like-with-stars.svg" alt="Rapid Review Times" width="60" height="60">
					<span class="preferences-section-list-item-title global-section-card-with-icon-item__title">Rapid Review Times</span>
					<span class="preferences-section-list-item-text global-section-card-with-icon-item__text">With reports returned in hours instead of days, Med-Test.AI empowers you to make quicker decisions and improves client communication.</span>
				</li>
			</li>
			<li class="preferences-section-list-item global-section-card-with-icon-item">
				<img class="preferences-section-list-item-icon global-section-card-with-icon-item__icon" src="./svg/achieve.svg" alt="Medico-Legal Technology" width="60" height="60">
				<span class="preferences-section-list-item-title global-section-card-with-icon-item__title">Medico-Legal Technology</span>
				<span class="preferences-section-list-item-text global-section-card-with-icon-item__text">Our AI is finely tuned to the specific vocabulary and nuances of civil litigation, offering a level of accuracy that is unmatched in manual reviews.</span>
			</li>
		</ul>
		<a href="sign-up-account-registartion.html" class="btn btn-primary provides-section-btn">Experience Med-Test.AI Here</a>
	</div>
</div></section>
