<section class="global-section steps-section" id="steps-section">
	<div class="container with-flex">
		<div class="steps-section-wrap js-section-wrap">
			<h3 class="global-title steps-section-title">Med-Test.AI Simplifies The Process Of Medical Record and Billing Summarization</h3>
			<img src="./svg/stat-line.svg" alt="steps line" class="steps-section-image">
			<ul class="steps-section__steps-list">
				<li class="steps-section__steps-list-item m-w-337">
					<span class="circle">01</span>
					<span class="steps-section__steps-list-item__content">
						<span class="steps-section__steps-list-item__content-title">Cost savings vs. manual review</span>
						<span class="steps-section__steps-list-item__content-text">As medical records continue to grow in complexity, professionals are struggling to efficiently extract insights critical for cases or claims. Relying on manual review means wasting precious budget on outsourcing companies or sacrificing nights and weekends with tedious work.</span>
					</span>
				</li>
				<li class="steps-section__steps-list-item m-w-283">
					<span class="circle">02</span>
					<span class="steps-section__steps-list-item__content">
						<span class="steps-section__steps-list-item__content-title">Time savings - hours
							<br>
							vs. days or months</span>
						<span class="steps-section__steps-list-item__content-text m-w-264">Even then, turnaround times stretch weeks if not months -
							<br>far too slow for time-sensitive decision-making. The summarization process remains not just frustrating, but deeply inefficient for everybody involved.</span>
					</span>
				</li>
				<li class="steps-section__steps-list-item m-w-321">
					<span class="circle">03</span>
					<span class="steps-section__steps-list-item__content">
						<span class="steps-section__steps-list-item__content-title">Accuracy vs. manual reviews</span>
						<span class="steps-section__steps-list-item__content-text">Manual reviews, whether conducted in-house or by outsourcing firms, can contain inaccuracies that impact the assessment of a claim.  For insurance professionals, law firms, and clinical experts, precise summarization of medical records and billing is essential for claim evaluation. Med-Test.AI offers a reliable solution. Our experts have developed an advanced AI to turn complicated records into simplified summaries in hours, not days.
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>
