{% set nav = json('navigation') %}

<div class='nav'>
  <nav class="nav__wrap">
    <ul class="nav__list">
      {% for item in nav %}
        {% set hrefWithoutExtname = currentPage | replace({'.html': ''}) %}
        <li class="nav__item">
          <a href="{{ item.href }}" class="nav__link {{ currentPage == hrefWithoutExtname ? 'active' : '' }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
