{% extends 'layouts/main/layout-main.twig' %}
{% block variables %}
  {% set title = 'Not found page' %}
  {% set page_class = 'error-page' %}
{% endblock %}

{% block content %}
  <div class="error">
    <div class="container">
      <h1>404</h1>
    </div>
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
