<footer>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col ps-0">
        <div class="footer-links">
          <a href="#" class="footer-link">Terms & Conditions</a>
          <a href="#" class="footer-link">Privacy Policy</a>
          <a href="#" class="footer-link">Cookie Policy</a>
        </div>
      </div>
      <div class="col d-flex justify-content-end pe-0">
        {{media.img('/footer-logo-1', 'png', 'footer-hippa', 175, 60)}}
      </div>
    </div>
  </div>
</footer>
