<header class="header {{header_class}}">
	<div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col ps-0">
        <h4>The Salameh Law Group</h4>
      </div>
      <div class="col d-flex justify-content-end align-items-center gap-3 pe-0">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ media.icon('bell') }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="dropdown user">
          <button class="dropdown-toggle user__btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            AM
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">Adrian Medina</li>
            <li class="dropdown-item">Super Administrator</li>
            <li><hr></li>
            <li><a class="dropdown-item" href="#">{{ media.icon('user') }}My Profile</a></li>
            <li><a class="dropdown-item" href="#">{{ media.icon('bell') }}My Notifications</a></li>
          </ul>
        </div>
      </div>
    </div>
	</div>
</header>
