.users-heading {
  margin-bottom: 32px;
  .collapse {
    .card-body {
      background-color: var(--ligh-gray-bg);
      border: none;
      margin-bottom: 16px;
    }
  }
}

.users-filter__onlymy {
  margin-left: auto;
  margin-right: 14px;
}
.users-body-head {
  padding-bottom: 16px;
}
