<footer class='landing-footer{{ is_login ? ' ' ~ '_logged-in' : '' }}'>
  <div class="container">
    <div class="landing-footer-wrap">
      <div class="landing-footer-rights">
        {{media.img('./content/footer-logo', 'png', 'footer-rights', 183, 33)}}
        <div class="landing-footer-rights-text">© 2023-2024 Med-Test. All rights reserved.</div>
      </div>
      <div class="landing-footer-links">
        <a href="#" class="landing-footer-link">Privacy Policy</a>
        <a href="#" class="landing-footer-link">Cookie Settings</a>
        <a href="#" class="landing-footer-link">24/7 Support</a>
        <a href="mailto:support@med-test.com" class="landing-footer-link">support@med-test.com</a>
      </div>
      {{media.img('/footer-landing-logo', 'png', 'footer-hippa', 209, 60)}}
      <div class="landing-footer-rights-text-mobile">© 2023-2024 Med-Test. All rights reserved.</div>
    </div>
  </div>
</footer>

