{% set options = [
    {
        title: 'Suspend Selection',
        text: "Disables a user's access by removing their active status from the list",
        href: '#',
    },
    {
        title: 'Reactivate Selection',
        text: "Reactivates a user's access by restoring their active status in the list",
        href: '#',
        disabled: true
    }
] %}
<div class="users-heading">
    <div class="d-flex align-items-center justify-content-between pb-2">
        <h1 class="mb-0">Users</h1>
        <p class="fw-medium fs-16">7 Results</p>
    </div>
    <div class="d-flex align-items-center justify-content-between my-3">
        {% include '../../components/form/form-dropdown-select2.twig' with {
            id: 'usersFilterStatus',
            class: 'users-filter__status',
            name: 'status',
            title: '',
            isRequired: false,
            hasSearch: false,
            clearSelectionBtn: false,
            placeholder: 'All Users',
            options: [
            {
                title: 'All Users',
                value: 'all'
            },
            {
                title: 'Registered',
                value: 'registered',
                dataset: [{
                    name: "color",
                    value: "#088C5E",
                }]
            },
            {
                title: 'Invited',
                value: 'invited',
                dataset: [{
                    name: "color",
                    value: "#148BDF",
                }]
            },
            {
                title: 'Suspended',
                value: 'suspended',
                dataset: [{
                    name: "color",
                    value: "#8D939F",
                }]
            }
            ],
            error: '',
        } %}

        <button class="btn filter-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            {{ media.icon('filter-icon') }}Filters
        </button>

        {% include 'modules/users/users-searches.twig' %}

        {% include '../../components/dropdown.twig' with {
            devaultValue: 'Actions',
            iconName: 'arrow-select',
            options: options
        } %}
        <button class="btn users-heading__svg-download jsAddon__tooltip" data-tippy-content="Download user list">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.16602 14.7917L10.9993 18.625M10.9993 18.625L14.8327 14.7917M10.9993 18.625V10M18.666 14.5452C19.8366 13.5785 20.5827 12.1159 20.5827 10.4792C20.5827 7.56817 18.2228 5.20833 15.3118 5.20833C15.1024 5.20833 14.9065 5.09908 14.8002 4.91867C13.5505 2.79797 11.2432 1.375 8.60352 1.375C4.63397 1.375 1.41602 4.59295 1.41602 8.5625C1.41602 10.5425 2.21665 12.3355 3.51184 13.6355" stroke="#148BDF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>

        <button class="btn btn-primary users-heading__user-invite-btn" data-bs-toggle="offcanvas" data-bs-target="#add-user" aria-controls="offcanvasRight">
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.50065 1.21094V8.79427M1.70898 5.0026H9.29232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Invite Users</span>
        </button>

    </div>

    <div class="collapse" id="collapseFilter">
        <div class="users-filters__tab js__users-filters-tab">

            <div class="d-flex align-items-center justify-content-between">
                <h4>Choose filters below to customize table view</h4>
                <div>
                    <button class="btn-link me-3 js__users-filters__reset">Reset All</button>
                    <button class="btn-close" type="button" data-bs-target="#collapseFilter"
                        data-bs-toggle="collapse"></button>
                </div>
            </div>

            {% include 'modules/users/users-filters.twig' %}

        </div>
    </div>
</div>

