{% set users = json('report-ordering/sidebar/search-users') %}

<div class="users-searches">
    {% include '../../components/form/search-field.twig' with {
        id: 'usersSearchesSearchUsers',
        class: 'users-searches__user-search',
        input_class: 'js__users-searches-user',
        placeholder: 'User Name or Email',
        icon: true
    } %}
    <input id="usersSearchesSearchUsersByNameEmail" class="js__users-searches-user-input" type="hidden" name="seach user">

    <div data-url="/searh-user" class="users-searches__user-search-list-wrap js__users-searches-user-list _hidden">
        <div>
            <ul class="users-searches__user-search-list">

                <li class="user-search-item js__users-searches-user-item" data-name="Adrian Medina" data-id="1" data-email="asari@slglaw.com" data-position="Attorney">
                    <div class="user-search-item__button">
                        <div class="user-search-item__first-col">
                            <div class="user-search-item__initials">
                                <picture class="user__image">
                                    <source srcset="./img/content/users/user-1.webp" type="image/webp" class="user__img ">
                                    <img src="./img/content/users/user-1.png" alt="img" class="user__img " width="44" height="44">
                                </picture>
                            </div>
                            <div>
                                <p><b>Adrian Medina</b><span class="user-search-item__employee">ID: XSSW2390299</span></p>
                                <p>adrian@slglaw.com</p>
                            </div>
                        </div>

                        <div class="user-search-item__second-col">
                        <p>
                            <b>Senior Partner</b>
                        </p>
                        <p>
                            The Salameh Law Group, P.A.
                        </p>
                        </div>
                    </div>
                </li>

                <li class="user-search-item js__users-searches-user-item" data-name="Asari Dokumbo" data-id="2" data-email="asari@slglaw.com" data-position="Attorney">
                    <div class="user-search-item__button">
                        <div class="user-search-item__first-col">
                            <div class="user-search-item__initials">
                                <picture class="user__image">
                                    <source srcset="./img/content/users/user-2.webp" type="image/webp" class="user__img ">
                                    <img src="./img/content/users/user-2.png" alt="img" class="user__img " width="44" height="44">
                                </picture>
                            </div>
                            <div>
                                <p><b>Asari Dokumbo</b><span class="user-search-item__employee">ID: ABDZ1992013</span></p>
                                <p>asari@slglaw.com</p>
                            </div>
                        </div>

                        <div class="user-search-item__second-col">
                        <p>
                            <b>Partner</b>
                        </p>
                        <p>
                            The Salameh Law Group, P.A.
                        </p>
                        </div>
                    </div>
                </li>

                <li class="user-search-item js__users-searches-user-item" data-name="Talon Ayala" data-id="3" data-email="asari@slglaw.com" data-position="Attorney">
                    <div class="user-search-item__button">
                        <div class="user-search-item__first-col">
                            <div class="user-search-item__initials">TA</div>
                            <div>
                                <p><b>Talon Ayala</b><span class="user-search-item__employee">ID: PSDW9032100</span></p>
                                <p>asari@slglaw.com</p>
                            </div>
                        </div>

                        <div class="user-search-item__second-col">
                        <p>
                            <b>Attorney</b>
                        </p>
                        <p>
                            The Salameh Law Group, P.A.
                        </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    
    <button id="usersSearchSubmit" class="btn btn-primary users-searches__search-btn">
        <svg class="users-searches__search-btn--default" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.0977 19.1875L15.5978 15.6875M18.0977 9.6875C18.0977 14.3819 14.2921 18.1875 9.59766 18.1875C4.90324 18.1875 1.09766 14.3819 1.09766 9.6875C1.09766 4.99308 4.90324 1.1875 9.59766 1.1875C14.2921 1.1875 18.0977 4.99308 18.0977 9.6875Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="users-searches__search-btn--hover" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.0977 19.1875L15.5978 15.6875M18.0977 9.6875C18.0977 14.3819 14.2921 18.1875 9.59766 18.1875C4.90324 18.1875 1.09766 14.3819 1.09766 9.6875C1.09766 4.99308 4.90324 1.1875 9.59766 1.1875C14.2921 1.1875 18.0977 4.99308 18.0977 9.6875Z" stroke="#148BDF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>