<header class="auth-header">
	<div class="container auth-container">
		<div class="d-flex justify-content-between align-items-center auth-header-wrap">
			<a href="./">
				{{media.img('content/auth-logo', 'png', 'auth-header', 198, 35)}}
			</a>
			<a href="{{ header_button_href }}" class="btn btn-primary auth-header-btn">{{ header_button_text }}</a>
		</div>
	</div>
</header>
