<div class="offcanvas order-details offcanvas-end" tabindex="-1" id="orderDetails" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasRightLabel">
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#1" aria-controls="offcanvasRight">{{ media.icon('arrow') }}</button>
            Back
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h1 class="mb-3">Order Details</h1>
        <div class="card p-4 rounded-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <p>Report Type: <b>Medical Chronology</b></p>
                <p>Ordered By: <b class="text-main-blue">John Smith, Esq.</b></p>
            </div>
            <div class="card p-3 bg-main-light border-0 mb-4 rounded-3">
                <div class="d-flex details">
                    <table>
                        <tbody>
                        <tr>
                            <td class="pb-2">Claim Number:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">5946P527F</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Claim type:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">Bodily Injury</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Case name:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">Alexander Phillips vs. John Doe.</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Plaintiff First name:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">Alexander</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Plaintiff Last name:</td>
                            <th class="text-end fw-semibold" scope="row">Phillips</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Plaintiff DOB (Date of Birth):</td>
                            <th class="text-end fw-semibold" scope="row">03-14-1987</th>
                        </tr>
                        <tr>
                            <td>Plaintiff gender:</td>
                            <th class="text-end fw-semibold" scope="row">Male</th>
                        </tr>
                        </tbody>
                    </table>
                    <span class="separator-table"></span>
                    <table>
                        <tbody>
                        <tr>
                            <td class="pb-2">Amount:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">$250</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Submitted:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">Exhibit count: 2 <span class="separator"> | </span>Page count: 69</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Defendant First name:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">John</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Defendant Last name:</td>
                            <th class="text-end pb-2 fw-semibold" scope="row">Doe Sr.</th>
                        </tr>
                        <tr>
                            <td class="pb-2">Defendant Company Name:</td>
                            <th class="text-end fw-semibold" scope="row">—</th>
                        </tr>
                        <tr>
                            <td class="pb-2">DOI (Date of Incident):</td>
                            <th class="text-end fw-semibold" scope="row">05-15-2023</th>
                        </tr>
                        <tr>
                            <td>LOA (Location of Accident):</td>
                            <th class="text-end fw-semibold" scope="row">13th Ave N & Goodlette Rd N</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="mb-2">General Area(s) of Injury:</p>
            <p class="fw-semibold mb-2">UPPER EXTREMITY (Right, Left, or BOTH)</p>
            <p><span class="text-main-blue fw-semibold">Components:</span> Shoulder, Arm (Humerus, Radius, Ulna), Elbow, Forearm, Wrist, Hand (Carpals, Metacarpals, Phalanges, Fingers).</p>
            <p><span class="text-main-blue fw-semibold">Musculoskeletal:</span> Bones (Clavicle, Scapula, Humerus, Radius, Ulna, Carpals, Metacarpals, Phalanges), Muscles, and Connective Tissues (Muscles, tendons, and ligaments of the upper limb).</p>
            <div class="d-flex mt-4 gap-4">
               
            </div>
        </div>
    </div>
</div>
