.pagination {
  gap: 20px;
  align-items: center;
  li {
    .icon-arrow-pagination {
      width: 20px;
      height: 20px;
      stroke: var(--icon-gray);
      fill: transparent;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.6px;
      &.next {
        transform: rotate(180deg);
      }
    }
    a {
      border: none;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
    .text {
      color: var(--icon-gray);
    }
  }
  .page-item {
    &.page {
      a {
        background-color: var(--gray-bg);
        border-radius: 20px;
        color: var(--text-color);
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          color: var(--main-blue);
        }
      }
    }
    &.disabled {
      .page-link {
        background: transparent;
      }
    }
  }
}
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
