.nav-tabs {
  width: fit-content;
  margin-bottom: 16px;
  .nav-link {
    color: var(--main-color);
    border: none;
    &.active {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--main-blue);
      color: var(--main-blue);
      font-weight: 500;
      background-color: transparent;
    }
    &:hover {
      border-top: none;
      border-left: none;
      border-right: none;
    }
    &[disabled] {
      color: var(--disabled-btn-bg);
    }
    .counter {
      border-radius: 20px;
      border: 1px solid var(--base-border);
      background: var(--ligh-gray-bg);
      color: var(--main-blue);
      width: 18px;
      height: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      font-size: 10px;
    }
  }
}
