.user-search-item {
  &--flex,
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
    font-size: 12px;
    background-color: var(--white);
  }

  &__button {
    transition: background-color var(--base-transition);

    &:hover {
      background-color: var(--ligh-gray-bg);
    }
  }

  &._selected {
    display: none !important;
  }

  &:not(:first-child) {
    margin-top: -1px;
    border-top: var(--base-border-line);
  }

  & p {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  & b {
    font-weight: 500;
  }

  &__first-col {
    display: flex;
    align-items: center;
    column-gap: 9px;
    row-gap: 2px;
    line-height: 18px;
    text-align: left;

    & b {
      font-size: 14px;
    }
  }

  &__employee {
    margin-left: 8px;
    padding: 0px 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid var(--base-border, #D4DCE4);
    border-radius: 6px;
  }

  &__second-col {
    line-height: 20px;
    text-align: right;

    & b {
      font-size: 12px;
    }

    & img {
      border-radius: 2px;
      width: 21px;
      height: 13px;
    }

    & p:last-child {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--main-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: var(--white);
    border: var(--base-border-line);
    border-radius: 50%;
  }

}
