<div class="auth-page__section-content">
  <h2 class="auth-page-title">Check Your Email</h2>
  <p class="auth-page-subtitle">Password reset instructions have been emailed to you.</p>
  <div class="d-flex flex-column justify-content-center align-items-center mx-auto auth-page__form-wrap">
    <a href="login.html" class="auth-page-btn auth-page__close-btn" aria-label="Return to login page">Return to login page</a>
  </div>
</div>