{% include '../../components/component-backbtn.twig' %}
<div class="auth-page__section-content">
  <h2 class="auth-page-title">Reset password</h2>
  <p class="auth-page-subtitle">Enter your email for password reset instructions</p>
  <div class="d-flex flex-column justify-content-center align-items-center mx-auto auth-page__form-wrap">
    <form class="form js-form auth-page__form" data-href="check-email.html">
      {{form.fieldsForm('form-fields-reset-password')}}
      <button class="btn btn-primary auth-page-btn auth-page__form-btn" type="submit" aria-label="Reset Password">Reset Password</button>
    </form>
  </div>
</div>
