.auth-page.password-changed-success-page{
  .auth-page__section-content{
    .auth-page-title{
      margin-bottom: 30px;
      font-size: 27px;
    }
  }
}

.auth-page.password-changed-success-mark-page{
  .auth-page__section.auth-page__contentbox{
    margin: auto;
    .auth-page__section-content{
      .auth-page-title{
        margin-bottom: 24px;
        font-size: 27px;
      }
    }
  }

  .auth-page-footer{
    margin-top: 0;
  }
}