<aside class="sticky-top sticky-offset vh-100 py-2 sidenav-nav">

    <div class="sidenav-nav__bottom">
        <div class="pages-counter">
            <span class="active">4</span>
            <span>20</span>
        </div>
       <button type="button" class="top">
           {{ media.icon("arrow") }}
       </button>
        <button type="button">
            {{ media.icon("arrow") }}
        </button>
    </div>
</aside>
