<div class="d-flex align-items-center justify-content-between title-report">
    <div>
        <span>Created: 05-10-2024</span> <span class="separator">|</span> <span>10:35 AM EST</span>
    </div>
    <div>
        <p>Henry Jones vs. Ivy Davis_V1</p>
    </div>
    <div>
        {{btn.primary({
            inner: "Save New Copy",
            class: "disabled"
        })}}
    </div>
</div>
