<div class="empty-table {{ class }}">
    {{ media.icon(notificationIcon|default('info-circle')) }}
    <h3>
        {{ notificationTitle|default('There are no report orders at the moment.') }}
    </h3>
</div>